* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Unica One', cursive;
}
p {
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}

/* Header */
#main-header {
    position: absolute;
    z-index: 99999;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), transparent);
    height: 100px;
    width: 100%;
}


/* Navbar */
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: auto;    
    font-family: 'Unica One', cursive;
    background-image: url("../img/Rectangle\ 59.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Logo */
#logo {
    
    font-size: 13vh;
    transform: rotate(-35deg);
}
#logo p {
    font-family: 'Akronim', cursive;
    color: #43FF00;
    text-shadow: #000 5px 5px 15px;
}
#logo  p::first-letter {
    color: #4A62FF;
}

/* Navbar menu list */
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    list-style: none;
    width: 80%;
}
.nav-list > li {
    display: inline-block;
    margin: 0 25px;
    height: 30px;
    font-size: 2.3vh;
}
.nav-list  li:hover {
    border-bottom: 3px solid #4A62FF;
}
.nav-list  a {
    color: #fff;
    text-shadow: #000 5px 5px 5px;
    
}

/* Responsive menu button */
#btn-menu {
    background-color: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: none;
}
#btn-menu:focus {
    outline: none;
}

/* Menu Icon-bars */
.icon-bar {
    width: 35px;
    height: 4px;
    background-color: #4A62FF;
    margin: 7px 0;
    transition: 0.8s;
}

/* Rotate first icon-bar */
.change .icon-bar:first-child {
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second icon-bar */
.change .icon-bar:nth-child(2) {
    opacity: 0;
}

/* Rotate last icon-bar */
.change .icon-bar:last-child {
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Banner */
#banner-pilates {    
    height: 100vh;
    position: relative;
    z-index: 0;
    
}

/* Carousel */
#carousel {
    background-color: rgb(161, 161, 161);
    height: 100%;
  
}
#main-crsl {
    height: 100%;
    
}

.crsl-ctrl {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4A62FF;
    height: 80px;
    width: 80px;
    top: 45%;
    border-radius: 50%;
    font-size: 4vh;
    padding: 15px;
    color: #43FF00;
    font-weight: bold;
    cursor: pointer;
    text-shadow: #000 0px 5px 5px;
    box-shadow: #000 5px 5px 10px; 
}
.active {
    position: relative;
}
.crsl-item {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
}
 img {
    filter: contrast(180%);
}
.item-caps {
    position: absolute;
    bottom: 20%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4A62FF;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid #fff;
    color: #fff;
    text-align: center;
    box-shadow: #000 0px 0px 15px;
}
.item-caps h1 {
    font-size: 2.5em;
    margin: auto;
    width: 60%;
    text-shadow: #000 5px 5px 15px;
}
.item-caps p {
    font-size: 1.5em;
    margin: auto;
    width: 60%;
    text-shadow: #000 5px 5px 15px;
    font-family: 'Unica One', cursive;
    font-weight: bold;
}
.inner-circle {
    position: absolute;
    top: 50%;
    right: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #43FF00;
    border: 10px solid #fff;
    box-shadow: #000 0px 0px 5px; 
}
.prev {
    left: 25px;
}
.next {
    right: 25px;
}

/* About */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 800px;
    margin: auto;
    font-family: 'Unica One', cursive;
}
#about > .container {
    width: 50%;
}
#about > p {
    font-family: sans-serif;
}

/* Services */
#services {
    width: 100%;
}
#services .row {
    background-color: #4A62FF;
}
.card {
    padding: 15px;
    color: #fff;   
}
.card > article {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
    margin: auto;
    padding: 20px;
    border: 2px solid #fff;
}
.card p {
    width: 60%;
}
.card article > h1 {
    color: #43FF00;
    font-size: 4vh;
}


/* Button */
.btn {
    border: 2px solid #fff;
    padding: 15px;
    color: #fff;
    font-family: 'Unica One', cursive;
}

.pic-card {    
    height: 535px;
}
.pic-card > img {
    margin: auto;
    width: 100%;
    filter: contrast(180%) brightness(120%);
}

/* Tools */
#tools {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    /* padding: 25px; */
}
#tools .tool-card {
    background-color: rgb(158, 157, 157);
    height: 150px;
    width: 300px;
    margin: 25px;
}
#tools .row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}

/* Gallery */
#gallery {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-top: 5px solid #43FF00;
    overflow: hidden;
    
}
#gallery > .blur {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.blur > img {
    filter: saturate(25%) blur(10px);
    margin: auto;
    width: 100%;
    /* -ms-filter: blur(100%);
    -webkit-filter: blur(100%); */
}

#main-glry {
    position: relative;
    height: 500px;
    width: 999px;
    margin: auto;
    box-shadow: #000 0px 0px 15px;
}
.glry-item {
    height: 100%;
    width: 100%;
    display: none;
}
.glry-item > img {
    filter: sepia(50%) brightness(130%) contrast(180%);
}
.glry-ctrl {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4A62FF;
    height: 60px;
    width: 60px;
    top: 45%;
    border-radius: 50%;
    font-size: 3vh;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    box-shadow: #000 0px 0px 10px;
}
#thumb-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 200px;
    align-self: flex-end;
    border: 1px solid #000;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.513);
}
.thumb-item {
    height: 180px;
    width: 300px;
    border: 1px solid #000;
    opacity: 0.75;    
}
.thumb-item > img {
    border-radius: 10px;
    filter: sepia(50%) contrast(180%);
}

/* Footer */
#footer {
    position: relative;
    height: 500px;
    background-color: #4A62FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
}
.wtr-mark {
    transform: rotate(-35deg);
    padding: 0;
    margin: 0;
}
.wtr-mark > p {
    font-family: 'Akronim', cursive;
    color:  rgb(133, 148, 246);
    font-size: 15vw;
    margin: 0;
}
.icon-field {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 15%;
}
.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: #000 0px 0px 10px;
}

#small-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgb(119, 136, 246);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    color: #fff;

}
#dev {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(204, 122, 15);
}